@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
body{
    /* overflow: hidden; */
}
header{
    width: 1000px;
    height: 80px;
    margin: 30px auto;
}
.pic{
    float: left;
    line-height: 80px;

}
.Link{
    float: right;
    line-height: 100px;
}
article{
    width: 1000px;
    min-height: 500px;
    margin: 0 auto;
    display: block;
}
section{
    width: 367px;
    height: 550px;
    box-shadow: 10px 10px 20px#ccc;
    float: right;
}
.head{
    width: 367px;
    height: 87px;
}
.head h2{
    color: red;
    float: left;
    margin-left: 20px;
    line-height: 87px;
}
.lin{
    float: right;
    margin-right: 30px;
    font-size: 12px;
    line-height: 87px;
}
.lin a{
    color: red;
}
input{
    width: 301px;
    height: 41px;
    margin: 10px 20px;
}
button{
    width: 310px;
    height: 40px;
    background-color: red;
    color: white;
    font-size: 14px;
    margin-left: 20px;
    border: none;
}
footer{
    display: block;
    width: 1000px;
    margin: 0 auto;
    margin-top: 110px;
    margin-bottom: 20px;
}
.cont p{
    text-align: center;
    width: 1000px;
    height: 60px; 
    font-size: 12px;
    color: #7e7e7e;
}
#ck{
    width: 10px;
    height: 10px;
    margin-right: 5px;
}
.tk{
    font-size: 12px;
}
.tk span{
    float: right;
    margin-right: 30px;
    line-height: 50px;
}
.tk a{
    color: #6e6c6c;
    text-decoration: none;
}
#fm span{
    font-size: 14px;
    color: red;
    display: block;
    margin-left: 20px;
}
#verification{
    width: 150px;
    margin-right: 0;
}
.image-code-box{
    border: 1px solid red;
    width: 150px;
    float: right;
    height: 43px;
    margin-top: 10px;
    margin-right: 41px;
}
#btn{
    cursor: pointer;
}