@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
#bigbox{
    width: 1278px;
}
.help{
    color: #fff;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 40px;
    background-color: #262626;
    height: 100%;
    _position: absolute;
    z-index: 50;
    _bottom: auto;
    min-height: 600px;
}
.help-a{
    position: relative;
    height: 100%;
    z-index: 50;
}
.help-top{
    position: absolute;
    top: 50%;
    height: 360px;
    margin-top: -270px;
    right: 0;
    z-index: 20;
}
.help-bottom{
    position: absolute;
    bottom: 0px;
    left: 0;
}
.user{
    position: relative;
    z-index: 30;
}
.user a{
    padding: 5px 0;
    display: block;
}
.use{
    width: 39px;
    padding: 5px 0 0 0;
    text-align: center;
    color: #fff;
}
.use-a{
    width: 17px;
    padding: 0 11px;
    color: #fff;
}
.buy{
    margin: 5px 0;
    cursor: pointer;
}
.num{
    color: #fff;
    background: #F31425;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    margin: 14px 0px 0 11px;
    border-radius: 18px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
}
.line{
    padding: 0 7px;
}
.line1{
    display: block;
    width: 100%;
    height: 1px;
    background-color: #2d2e32;
    margin-top: 15px;
}
.line2{
    display: block;
    width: 100%;
    height: 1px;
    background-color: #575a62;
    margin-bottom: 15px;
}
.header{
    width: 100%;
    height: 36px;
    background-color:#f5f5f5;
    border: .5px solid #f5f5f5;
}
.header-cont{
    width: 1090px;
    height: 100%;
    margin: 0 auto;
    /* background-color: #ccc; */
}
.header-l{
    width: 200px;
    height: 100%;
    float: left;
    font-size: 12px;

}
.header-l span{
    /* font-size: 12px; */
    line-height:36px ;
    color: #333;
}
.header-l a{
    color: #333;
}
.header-r{
    /* width: 700px; */
    height: 100%;
    float: right;
    /* background-color: rebeccapurple; */
}
.list{
    width: 100%;
    height: 100%;
    line-height:36px ;
    font-size: 12px;
}
.list li{
    float: left;
    padding-left:10px;
}
.list li a{
    border-right: .5px solid #dfdfdf;
    padding-right:10px ;
    color: #333;

}
.list-d{
    position: relative;
}
.list-d:hover .list-ul{
    display: block;
}
.list-ul{
    display: none;
    position: absolute;
    top: 36px;
    left: 0;
}
.list-d .list-ul li a{
    float: none;
    border-right: none;
}
.list:last-child li{
    border-right: none;
    padding-right: none;

}
#top{
    width: 100%;
}
.top-cont{
    width: 1090px;
    min-height: 100px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
}
.logo{
    float: left;
    width: 360px;
}
.logo a{
    display: inline-block;
    vertical-align: top;
    width: 170px;
    text-align: center;
}
.logo img{
    width: 146px;
}
.search{
    float: left;
    width: 509px;
    margin-left: 65px;
}
.search-cont{
    width: 494px;
    height: 35px;
    margin-top: 19px;
    border: 2px solid #f31425;
    z-index: 6;
    position: relative;
    border-radius: 20px;
}
.search-cont input{
    border: none;
    float: left;
    height: 19px;
    padding: 8px 0;
    width: 390px;
    margin-left: 28px;
    font-size: 13px;
    color: #999;
    _border: 1px solid #fff;
    _width: 395px;
    _padding: 7px 0;
    background: none;
    vertical-align: middle;
    outline:none;
    
}
.search-cont button{
    width: 76px;
    height: 35px;
    border-radius: 0 15px 15px 0;
    border: none;
    background-color: red;
    font-size: 24px;
    color: #fff;
    outline:none;
}
.form1{
    display: block;
}
.tishi{
    padding-left: 14px;
    float: left;
    height: 25px;
    overflow: hidden;
    line-height: 25px;
}
.tishi a{
    font-size: 13px;
    color: #8c8c8c;
    padding: 0 5px 0 0;
    color: #8c8c8c;
}
.buycar{
    float: right;
    position: relative;
    margin-top: 19px;
    z-index: 3;
}
.buycar a{
    display: block;
    border: 2px solid #F31425;
    width: 121px;
    border-radius: 39px;
    height: 39px;
    text-align: center;
    line-height: 39px;
    background-color: #fff;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
.buycar a span{
    color: #222;
    font-size: 15px;
}
.lis{
    width: 1278px;
    height: 42px;
    border-bottom: 2px solid red;
}
.lis-cont{
    width: 1090px;
    height:100% ;
    margin: 0 auto;
}
.lis-cont li{
    float: left;
    line-height: 42px;
    width: 170px;
    height: 42px;
    text-align: center;
    margin-right: 10px;
}
.active{
    background-color: red;
    color: #fff;
}
.recommend{
    margin-top: 40px;
    overflow: hidden;
    width: 100%;
}
.Notice{
    width: 100%;
    text-align: left;
    margin-top: 0px;
}
.N-header{
    line-height: 52px;
    height: 52px;
    margin-bottom: 16px;
}
.data{
    margin-top: 40px;
    /* overflow: hidden; */
    width: 100%;
}
.data-list{
    width: 1090px;
    min-height: 52px;
    margin: 0 auto;
}
.tex{
    width: 100%;
    text-align: left;
    margin-top: 0px;
}
.tex p{
    width: 246px;
    height: 52px;
    /* line-height: 52px; */
    display: inline-block;
    border: 1px solid black;
}
.tex p i{
    float: left;
    width: 3px;
    height: 30px;
    background-color: black;
    display: inline-block;
    margin-top: 12px;
}
.tex p a{
    float: left;
    margin-right: 20px;
    display: block;
    height: 30px;
    display: inline-block;
    line-height: 52px;
    font-weight: bolder;
    font-size: 24px;
    color: black;
}
.tex-list{
    width: 840px;
    height: 52px;
    border: 1px solid black;
    float: right;
}
.tex-list span{
    display: block;
    width: 16px;
    line-height: 52px;
    height: 52px;
    /* border: 1px solid red; */
    font-size: 26px;
    color: #8c8c8c;
}
.tex-list span:nth-child(1){
    float: left;
}
.tex-list span:nth-child(2){
    float: right;
}
